head {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: #6b0000;
    color: #ffffff;
}
.About {
background-color: #007c1b;

}
body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: #007c1b;
    color: #ffffff;
}
.bar {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    list-style: none;
    padding: 0px 0px 0px 2vw;
    display: flex;
    gap: 1vw;
    background-color: #000000;
    box-sizing: content-box;
    width:100vw;
    height: 60px;
    position: relative;
    bottom: 44px;
    right: 8px;
}
.bar_txt{
    height: 20vw;
    row-gap:10vw;
    

}
.header {
  width: 99%;
}
.park {
    position: relative;
    top: -60px;
    right: 1%;
    width: 100vw;
    height:48%;
    padding: 0px,0px,0px,0px

}
.debris {
  position: fixed;
  width: 30vw;
  left: 69vw;

}
a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: rgb(255, 251, 189);
  background-color: transparent;
  text-decoration: none;
}

a:active {
  color: rgb(206, 0, 0);
  background-color: transparent;
  text-decoration: none;
}
.title {
  width: 100vw;
  position: relative;
  right: 8px;
  bottom: 22px; 
  padding: 18px 0px 0px 26px;
  display: flex;
  gap: 1%;
  background-color: #000000;
    list-style: none;

}
.txt
{
  width: 65vw;
  padding: 0px,0px,0px,0px;
  gap: 1vw;
  word-wrap: normal;

}
